*{
    margin: 0; 
    font-family: 'Quicksand' monospace;
}
body{
    font-family:Circular, -apple-system, -BlinkMacSystemFont, 'Roboto', "Helvetica Neue", sans-serif;


}
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');
